*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: rgb(28, 28, 28);
}
#root{
    margin: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posters{
    height: 12rem;
    margin: 1rem;
    transition: 450ms;
    border-radius: .5rem;
}
.posters:hover{
    height: 12rem;
    transform: scale(1.3);
    cursor: pointer;
    box-shadow: rgb(206, 11, 255) 0px 10px 30px;
}
.posters:hover h1{
    color: #fff;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.title{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(167, 158, 158);
    text-align: center;
}
